<div class="text-center">
    <h1 class="mb-3">CONSEJO MUNICIPAL</h1>
    <h2 class="section-title text-center y-3">Regidores</h2>
  </div>
  
  <div class="container-fluid center">
      <div class="row">
        <div class="col-md-2 mx-auto">
          <img src="ESCUDOYANATILEBK.jpg" class="img-fluid rounded-circle" alt="Imagen 1">
          <h5 class="mb-0">Wilson Gallegos Quispe</h5>
          <p>TENIENTE ALCALDE</p>
          <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
        </div>
        <div class="col-md-2 mx-auto">
          <img src="ESCUDOYANATILEBK.jpg" class="img-fluid rounded-circle" alt="Imagen 2">
          <h5 class="mb-0">Berioska Loayza Zuñiga</h5>
          <p>REGIDORA</p>
          <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
        </div>
        <div class="col-md-2 mx-auto">
          <img src="ESCUDOYANATILEBK.jpg"  class="img-fluid rounded-circle" alt="Imagen 1">
          <h5 class="mb-0">Angel Villafuerte Atausinche</h5>
          <p>REGIDOR</p>
          <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
      </div>
      <div class="col-md-2 mx-auto">
          <img src="ESCUDOYANATILEBK.jpg" class="img-fluid rounded-circle" alt="Imagen 2">
          <h5 class="mb-0">Flor De Maria Olivera Carpio</h5>
          <p>REGIDORA</p>
          <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
        </div>
        <div class="col-md-2 mx-auto">
          <img src="ESCUDOYANATILEBK.jpg" class="img-fluid rounded-circle" alt="Imagen 1">
          <h5 class="mb-0">Lino Ramos Carpio</h5>
          <p>REGIDOR</p>
          <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
        </div>
      </div>
  </div>