<div class="container my-5">
    <div class="text-center">
        <h2 class="mission-title d-inline">NUESTRA</h2>
        <h2 class="d-inline" style="color: black;"> MISION</h2>
    </div>
    <p class="mission-text mt-4">
        La misión es proporcionar servicios y recursos para mejorar la calidad de vida de su población. Incluir servicios públicos como educación, transporte, seguridad, salud, y vivienda, así como la planificación y regulación del desarrollo económico y urbano y rural. Trabajar para mejorar la infraestructura y la economía local, fomentar el desarrollo sostenible y la sostenibilidad ambiental, y mantener una comunidad segura y unida. La misión de una gestión es trabajar para mejorar la calidad de vida de su población, fomentar el desarrollo y el progreso económico local de todos nuestros ciudadanos, y representar sus intereses y necesidades ante las autoridades superiores.
    </p>
    <div class="text-center">
        <img src="img/miyana.jpg" [loading]="'lazy'" alt="Imagen de mision" class="mission-image img-fluid">
    </div>
</div>

<div class="container my-5">
    <div class="text-center">
        <h2 class="mission-title d-inline">NUESTRA</h2>
        <h2 class="d-inline" style="color: black;"> VISION</h2>
    </div>
    <p class="mission-text mt-4">
        "Brindar servicios de calidad con transparencia y tecnología en beneficio del ciudadano, logrando el desarrollo integral y sostenible de nuestro distrito, basado en su potencial agropecuario, para el logro de una mejor calidad de vida para su población; a través de una gestión participativa e innovadora
    </p>
    <div class="text-center">
        <img src="img/viyana.jpg" [loading]="'lazy'" alt="Imagen de vison" class="mission-image img-fluid">
    </div>
</div>