<div class="news-header d-flex align-items-center justify-content-center">
    <div class="text-center text-white">
        <h1 class="display-4">Alcalde</h1>
        <p>INICIO</p>
    </div>
</div>
<div class="container">
    <h1 class="text-center">ALCALDE DEL DISTRITO DE YANATILE 2023-2026</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="text-center p-3" style="max-width: 900px;">
              <h1 class="text-primary">WILIAN HUALLPA QUISPE<p>ALCALDE</p></h1>
            </div>
            <div class="container">   
                <h1 class="text-center">Biografía</h1>
                <p class="text-justify">
                    Les da la más cordial bienvenida a nuestro portal web institucional 2023-2026 con la intención de ofrecerles un portal de información y comunicación permanente, para dar a conocer con transparencia, cada una de las obras, proyectos y actividades en las que venimos trabajando juntos con el firme propósito de lograr el desarrollo y avance de nuestro distrito. Esta gestión ha iniciado el Cambio y Acciones, emprendiendo el camino de la modernidad y sostenibilidad de su crecimiento, apoyándose en los ejes estratégicos: obras públicas y de mantenimiento, desarrollo humano y proyección   
                social, desarrollo productivo, participación vecinal y servicios a la comunidad con preservación del medio ambiente. La gestión del Pueblo, siempre unidos lograremos el desarrollo del distrito hermanos.
                </p>
                    <div class="col-12">
                        <h2>Datos del Alcalde</h2>
                        <ul>
                            <li><strong>Nombre completo:</strong>WILIAN HUALLPA QUISPE</li>
                            <li><strong>Correo Electronico:</strong>alcaldia&#64;muniyanatile.gob.pe</li>
                            <li><strong>Lugar de Origen:</strong>Cuquipata-Yanatile</li>
                        </ul>
                    </div>
            </div>
        </div>
        <div class="col-md-6">
          <img src="./assets/img/AlcaldeMDY.png" alt="Image" class="img-fluid">
        </div>
    </div>
  </div>