<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="intro-text">
            <p>MUNICIPALIDAD DISTRITAL</p>
            <h1>Yanatile</h1>
            <a href="#about" class="btn btn-custom btn-lg page-scroll">Descubre nuestra historia</a> </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container my-5">
  <div class="row">
      <div class="col-md-6">
        <h1 class="text-center">La municipalidad distrital de yanatile </h1>
        <p>Les da la más cordial bienvenida a nuestro portal web institucional 2023-2026 con la intensión de ofrecerles un portal de información y comunicación permanente, para dar a conocer con transparencia, cada una de las obras, proyectos y actividades en las que venimos trabajando juntos con el firme propósito de lograr el desarrollo y avance de nuestro distrito. Esta gestión ha iniciado el Cambio y Acciones, emprendiendo el camino de la modernidad y sostenibilidad de su crecimiento, apoyándose en los ejes estratégicos: obras públicas y de mantenimiento, desarrollo humano y proyección social, desarrollo productivo, participación vecinal y servicios a la comunidad con preservación del medio ambiente.
            La gestión del Pueblo, siempre unidos lograremos el desarrollo del distrito hermanos.</p>
          <div class="text-center p-3" style="max-width: 900px;">
            <h1 class="display-3 text-secondary mb-md-4">WILIAN HUALLPA<p>ALCALDE</p></h1>
            <h4 class="text-secondary text-uppercase mb-md-3">¡Un Gobierno del Pueblo...!<p>Gestión 2023-2026</p></h4>
            <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2">VER MÁS</a>
        </div>
      </div>
      <div class="col-md-6">
        <img src="./assets/img/AlcaldeMDY.png" alt="Image" class="img-fluid">
      </div>
  </div>
</div>




<div class="container text-center py-5">
  <hr><h1 class="mb-3">CONTACTOS DE EMERGENCIA</h1><hr>
  <div class="row justify-content-center">
      <div class="col-md-3 col-6">
          <div class="contact-box">
              <img src="https://via.placeholder.com/100" alt="Policia Nacional" class="img-fluid rounded-circle">
              <h5 class="mt-3">999 669 578</h5>
              <p>POLICIA NACIONAL</p>
          </div>
      </div>
      <div class="col-md-3 col-6">
          <div class="contact-box">
              <img src="https://via.placeholder.com/100" alt="Seguridad Ciudadana" class="img-fluid rounded-circle">
              <h5 class="mt-3">999 669 578</h5>
              <p>SEGURIDAD CIUDADANA</p>
          </div>
      </div>
      <div class="col-md-3 col-6">
          <div class="contact-box">
              <img src="https://via.placeholder.com/100" alt="Demuna" class="img-fluid rounded-circle">
              <h5 class="mt-3">999 669 578</h5>
              <p>DEMUNA</p>
          </div>
      </div>
      <div class="col-md-3 col-6">
          <div class="contact-box">
              <img src="https://via.placeholder.com/100" alt="Defensa Civil" class="img-fluid rounded-circle">
              <h5 class="mt-3">999 669 578</h5>
              <p>DEFENSA CIVIL</p>
          </div>
      </div>
  </div>
</div>

<div class="container my-4">
  <div class="row">
    <hr><h1 class="mb-3 text-center">NOTICIAS Y COMUNICADOS</h1><hr>
    <div class="col-md-3">
      <div class="card h-100">
        <img src="./assets/img/team-1.jpg" class="card-img-top" alt="Noticia 1">
        <div class="card-body">
          <h5 class="card-title">Municipalidad</h5>
          <p class="card-text">Trabajo Articulado Entre La Municipalidad Y Agrorural Cusco</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card h-100">
        <img src="./assets/img/team-2.jpg" class="card-img-top" alt="Noticia 2">
        <div class="card-body">
          <h5 class="card-title">EN MENDOZAYOQ</h5>
          <p class="card-text">La oficina de registro civil de la municipalidad distrital de Yanatile y  RENIEC, realizo más de 102 tramites documentarios de DNI</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card h-100">
        <img src="./assets/img/team-3.jpg" class="card-img-top" alt="Noticia 3">
        <div class="card-body">
          <h5 class="card-title">Título Noticia 3</h5>
          <p class="card-text">Descripción breve de la noticia 3.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card h-100">
        <img src="./assets/img/team-4.jpg" class="card-img-top" alt="Noticia 4">
        <div class="card-body">
          <h5 class="card-title">Título Noticia 4</h5>
          <p class="card-text">Descripción breve de la noticia 4.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container text-center py-5">
  <hr><h1 class="mb-3">YANATILE PARA EL MUNDO</h1><hr>
  <div class="row justify-content-center">
      <div class="col-6">
          <div class="contact-box">
              <img src="https://via.placeholder.com/100" alt="Policia Nacional" class="img-fluid rounded-circle">
              <h5 class="mt-3">999 669 578</h5>
              <p>POLICIA NACIONAL</p>
          </div>
      </div>
      <div class="col-6">
          <div class="contact-box">
              <img src="https://via.placeholder.com/100" alt="Seguridad Ciudadana" class="img-fluid rounded-circle">
              <h5 class="mt-3">999 669 578</h5>
              <p>SEGURIDAD CIUDADANA</p>
          </div>
      </div>
  </div>
</div>

<div class="container text-center py-5">
  <hr><h1 class="mb-3">OBRAS Y PROYECTOS</h1><hr>
  <div class="row justify-content-center">
      <div class="col-6">
          <div class="contact-box">
              <img src="https://via.placeholder.com/100" alt="Policia Nacional" class="img-fluid rounded-circle">
              <h5 class="mt-3">999 669 578</h5>
              <p>POLICIA NACIONAL</p>
          </div>
      </div>
      <div class="col-6">
          <div class="contact-box">
              <img src="https://via.placeholder.com/100" alt="Seguridad Ciudadana" class="img-fluid rounded-circle">
              <h5 class="mt-3">999 669 578</h5>
              <p>SEGURIDAD CIUDADANA</p>
          </div>
      </div>
  </div>
</div>
