<div class="container text-center my-5">
    <div class="row justify-content-center">
      
      <div class="col-6 col-md-2 mb-4">
        <a href="https://facilita.gob.pe/t/1564" target="_blank" class="text-decoration-none text-dark">
          <div class="icon-box">
            <i class="bi bi-folder-fill"></i>
            <p class="icon-label">Mesa de partes</p>
          </div>
        </a>
      </div>

      <div class="col-6 col-md-2 mb-4">
        <div class="icon-box">
          <i class="bi bi-bank"></i>
          <p class="icon-label">TUPA</p>
        </div>
      </div>

      <div class="col-6 col-md-2 mb-4">
        <div class="icon-box">
          <i class="bi bi-file-earmark-text"></i>
          <p class="icon-label">Ordenanzas<br>Municipales</p>
        </div>
      </div>

      <div class="col-6 col-md-2 mb-4">
        <div class="icon-box">
          <i class="bi bi-file-earmark-check"></i>
          <p class="icon-label">Resoluciones<br>de Alcaldía</p>
        </div>
      </div>

      <div class="col-6 col-md-2 mb-4">
        <div class="icon-box">
          <i class="bi bi-tree-fill"></i>
          <p class="icon-label">Resol.<br>Gerenciales y Directivas</p>
        </div>
      </div>

       <div class="col-6 col-md-2 mb-4">
        <a href="https://www.gob.pe/institucion/muniyanatile/colecciones/46478-convocatorias-de-la-municipalidad-distrital-de-yanatile" target="_blank" class="text-decoration-none text-dark">
          <div class="icon-box">
            <i class="bi bi-people-fill"></i>
            <p class="icon-label">Convocatoria<br>CAS</p>
          </div>
        </a>
      </div>
    </div>
  </div>